<section>

    <img class="background-shadow" src="./../../../assets/img/background-shadow/purple-shadow-footer.png" alt="">
    <div class="headline">
        <div class="seperator"></div>
        <h2>Contact</h2>
    </div>
    

    <div class="contact-section">
        <div class="contact-info">
            <h3>Got a problem to solve?</h3>
            <p>Contact me through this form. I am interested in hearing from you, knowing your ideas, and contributing
                to your projects with my work.</p>
            <p>Need a Frontend developer? <b style="background: none;">Contact me!</b></p>
        </div>
        <div class="form-section">
            <app-form></app-form>

            <a href="#">
                <div class="arrow-up">
                    <img src="./../../../assets/img/icons/arrow-up-contact.png" alt="">
                </div>
            </a>
        </div>
    </div>
</section>