<section>

    <img class="background-shadow" src="./../../../assets/img/background-shadow/purple-shadow-footer.png" alt="">
    <div class="headline">
        <div class="seperator"></div>
        <h2>{{ 'contact.TITLE' | translate }}</h2>
    </div>
    

    <div class="contact-section">
        <div class="contact-info">
            <h4>{{ 'contact.SUBTITLE' | translate }}</h4>
            <p>{{ 'contact.DESCRIPTION' | translate }}</p>
            <p>{{ 'contact.CONTACT_ME.P' | translate }} <b style="background: none;">{{ 'contact.CONTACT_ME.SPAN' | translate }}</b></p>
        </div>
        <div class="form-section">
            <app-form></app-form>

            <a href="#">
                <div class="arrow-up">
                  <img src="./../../../assets/img/icons/arrow-up-contact.png" alt="Normal" class="normal">
                  <img src="./../../../assets/img/icons/arrow-up-contact-hover.png" alt="Hover" class="hover">
                </div>
              </a>
            
        </div>
    </div>
</section>