section {
    margin-top: 125px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;

  
}

.seperator {
    position: absolute;
    left: 0;
    height: 4px;
    background-color: #9747FF;
    width: calc(50% - 180px);



}

.headline{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.contact-section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;

}

.contact-info {
    display: flex;
    flex-direction: column;
    z-index: 3;
    
    color: white;
    width: 480px;
    height: 160px;

    h4 {
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 24px;
    }

    p {
        font-size: 18px;
        margin-bottom: 16px;
        background: none;
        line-height: 20px;

    }
}

.form-section {
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.arrow-up {
    z-index: 4;
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 2px solid white;
    border-radius: 100%;

    &:hover {

        border: 2px solid #70E61C;
    }

    img {
        background: none;
        z-index: 4;

       
    }
}

.background-shadow{
    position: absolute;
    bottom: 0;
    left: -77px;
    width: 600px;
    background: none;
}


@media(max-width: 1023px){

    section{
        height: 100%;
        padding-bottom: 40px;

        padding-left: 75px;
        padding-right: 75px;
    }

    .contact-section{
        flex-direction: column;
        align-items: center;
    }

    .form-section{
        margin-top: 24px;
        padding-left: 0px;
    }

    .contact-info{
        width: 100%;
        height: 100%;
        
    }

    .background-shadow{
        
    bottom: -248px;
    left: -231px;
    }
}

@media(max-width: 700px){
    section{
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media(max-width: 450px){
    section{
        padding-left: 25px;
        padding-right: 25px;
    }
   

    h4{
      font-size: 23px !important;  
    }

    p{
        font-size: 16px !important;
    }

    .seperator{
        width: calc(50% - 90px);
    }

    .background-shadow{
        bottom: -280px;
    }

    .headline{
        margin-bottom: 32px;
    }

    
}

@media(max-width: 380px){
    .background-shadow{
        width: 538px;
    }
}