<footer>
    <div class="seperator"></div>
    <div class="footer-bar">
        <div class="logo-section">
            <a href="#top">
                <img style="width: 200px;" class="logo" src="./../../../assets/img/logo/Stephan-logo.png" alt="">
              </a>
            <a class="desktop-legal-notice" href="imprint">Legal Notice</a>
        </div>

        <span>&copy; Stephan Zager 2024</span>

        <div class="icon-bar">
            <app-icon-bar></app-icon-bar>
        </div>

        <a class="mobile-legal-notice" href="imprint">Legal Notice</a>
    </div>
</footer>