header {
    z-index: 999;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    width: 100vw;
    height: 110px;
    background-color: #141D2F;
    padding-left: 100px;
    padding-right: 100px;
    -webkit-backdrop-filter: blur(65px);
    backdrop-filter: blur(65px);

    nav {
        display: flex;
        gap: 30px;
    }




}

a {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 23px;
    line-height: 28px;
    background: none;


    &:hover {
        color: #70E61C;
        cursor: pointer;
    }

    &::after {
        content: '';
        display: block;
        width: 0;
        height: 3px;
        border-radius: 3px;
        background-color: #9747FF;
    }

    &:hover::after {
        animation: underline-expand 0.2s forwards;
    }
}

@keyframes underline-expand {
    from {
        width: 0;
    }

    to {
        width: 53px;
    }
}

.burger {
    display: none;

    div {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        color: #FFFFFF;
        width: 30px;
        border: 1px solid #FFFFFF;
        border-radius: 3px;
    }

    &:hover {
        cursor: pointer;
        div{
            border-radius: 100%;
            filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.802))
        }
    }
}

.burger-menu {
    display: none;
    position: fixed;
    top: 110px;
    right: 0;
    gap: 30px;
    max-width: 300px;
    max-height: 500px;
    width: 100%;
    height: 100%;
    background-color: rgba(18, 21, 27, 0.95);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 998;
    border-radius: 20px;
    animation: slideInDown 0.5s ease forwards;
}

.burger-menu.closing {
    animation: slideOutUp 0.5s ease forwards;
}

@keyframes slideOutUp {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(-100%);
        opacity: 0;
    }
}

@keyframes slideInDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@media (max-width: 1023px) {

    header {
        padding-left: 50px;
        padding-right: 50px;
    }

    .nav-desktop {
        display: none !important;
    }

    .burger {
        display: block;

    }

    .burger-menu {
        display: flex;
    }

}

@media (max-width: 400px) {
    header {
        padding-left: 25px;
        padding-right: 25px;
    }
}