header {
    z-index: 999;
    position: fixed;
    display: flex;
    left: 0;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    width: 100vw;
    height: 110px;
    background-color: #141D2F;
    padding-left: 100px;
    padding-right: 100px;
    -webkit-backdrop-filter: blur(65px);
    backdrop-filter: blur(65px);

    nav {
        display: flex;
        align-items: center;
        gap: 30px;
    }




}

.logo{
    width: 180px;
    height: auto;
    background: none;
}

a {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 23px;
    line-height: 28px;
    background: none;


    &:hover {
        color: #70E61C;
        cursor: pointer;
    }

    &::after {
        content: '';
        display: block;
        width: 0;
        height: 3px;
        border-radius: 3px;
        background-color: #9747FF;
    }

    &:hover::after {
        animation: underline-expand 0.2s forwards;
    }
}

@keyframes underline-expand {
    from {
        width: 0;
    }

    to {
        width: 53px;
    }
}

.burger {
    display: none;

    div {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        color: #FFFFFF;
        width: 30px;
        border: 1px solid #FFFFFF;
        border-radius: 3px;
    }

    &:hover {
        cursor: pointer;
        div{
            border-radius: 100%;
            filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.802))
        }
    }
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 40px; 
    height: 20px;
    margin-left: 60px;

    input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    label {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #9747FF;
        transition: 0.4s;
        border-radius: 34px;
    }

    label:before {
        position: absolute;
        content: "";
        height: 15px;
        width: 15px;
        left: 4px;      
        bottom: 3px;
        background-color: white;
        transition: 0.4s;
        border-radius: 50%;
    }

    input:checked + label {
        background-color: #70E61C;
    }

    input:checked + label:before {
        transform: translateX(18px); 
        
    }

    .toggle-label {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 16px;
        color: white;
    }

    .toggle-label.left {
        left: -30px;
        
    }

    .toggle-label.right {
        right: -30px; /* Positioniert das rechte Label */
    }
}

.burger-menu {
    display: none;
    position: fixed;
    top: 110px;
    right: 0;
    gap: 30px;
    max-width: 300px;
    max-height: 500px;
    width: 100%;
    height: 100%;
    background-color: rgba(18, 21, 27, 0.95);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 998;
    border-radius: 20px;
    animation: slideInDown 0.5s ease forwards;

    @media(max-width: 400px) {
        max-width: 100%;
    }

    @media(max-height: 700px) {
       
    }
}

.burger-menu.closing {
    animation: slideOutUp 0.5s ease forwards;
}

@keyframes slideOutUp {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(-100%);
        opacity: 0;
    }
}

@keyframes slideInDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@media (max-width: 1023px) {

    header {
        padding-left: 50px;
        padding-right: 50px;
    }

    .nav-desktop {
        display: none !important;
    }

    .burger {
        display: block;

    }

    .burger-menu {
        display: flex;
    }

    .toggle-switch {
        margin-left: 0px;
    }
}

@media (max-width: 400px) {
    header {
        padding-left: 25px;
        padding-right: 25px;
    }
}