<div class="lading-screen">
    <div class="lading-section">
        <div class="profile-picture">
            <img class="profile-img" src="./../../../assets/img/lading-page/hero character photo.png" alt="">
            <img class="photo-shadow" src="./../../../assets/img/lading-page/photo-shadows.png" alt="">
        </div>
        <div class="headline">
            <div style="display: flex; align-items: center;">
                <div>
                    <p>I am</p>
                </div>
                <div>
                    <h1>Stephan Zager</h1>
                    <h2>FRONTEND DEVELOPER</h2>
                </div>
            </div>
            <button>Let's talk!</button>
        </div>
    </div>
    <!--<div class="background">
        <img src="./../../../assets/img/lading-page/hero-background.png" alt="">
    </div>-->
</div>