
<div class="lading-screen">
    <div class="lading-section">
        <div class="profile-picture">
            <img class="profile-img" src="./../../../assets/img/lading-page/stephan-ladingpage.png" alt="">
            <img class="photo-shadow" src="./../../../assets/img/lading-page/photo-shadows.png" alt="">
        </div>

        <div class="headline">
            <div style="display: flex; align-items: center;">
                <div>
                    <p>{{ 'lading_page.TITLE' | translate }}</p>
                </div>
                <div>
                    <h1>Stephan Zager</h1>
                    <h2>FRONTEND DEVELOPER</h2>
                </div>
            </div>
            <a href="#contact">
                <button>{{ 'lading_page.BUTTON' | translate }}</button>
            </a>
        </div>

       

    </div>


    
    <img class="background-img" src="./../../../assets/img/lading-page/hero-background.png" alt="">
    
    
    <div class="icon-bar">
        <div class="seperator"></div>
        <app-icon-bar style="z-index: 3; background: none;"></app-icon-bar>
        <p class="email-address">Stephan-Zager&#64;web.de</p>


    </div>


</div>