<form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">

    <div class="form-group">
        <input [ngStyle]="{'border':(!name.valid && name.touched ? borderError : '') || (name.valid ? borderSuccess : ''),
            'background-image': (!name.valid && name.touched ? bgError : name.valid ? bgSuccess : ''),           
        }" #name="ngModel" [(ngModel)]="contactData.name" type="text" name="user_name" placeholder="Your name"
            required />

        @if(!name.valid && name.touched){
        <span class="error-message">Please enter a name</span>
        }
    </div>

    <div class="form-group">
        <input [ngStyle]="{'border':(!email.valid && email.touched ? borderError : '') || (email.valid ? borderSuccess : ''),
            'background-image': (!email.valid && email.touched ? bgError : email.valid ? bgSuccess : ''),
            }" #email="ngModel" [(ngModel)]="contactData.email" type="email" name="user_email" placeholder="Your email"
            required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" />

        @if(!email.valid && email.touched){
        <span class="error-message">Please enter a eMail</span>
        }
    </div>

    <div class="form-group">
        <textarea
            [ngStyle]="{'border':(!message.valid && message.touched ? borderError : '') || (message.valid ? borderSuccess : ''),
            'background-image': (!message.valid && message.touched ? bgError : message.valid ? bgSuccess : ''),
            }"
            #message="ngModel" [(ngModel)]="contactData.message" name="user_message" placeholder="Your message"
            required></textarea>

        @if(!message.valid && message.touched){
        <span  class="error-message">Please enter a message</span>
        }
    </div>


    <div class="checkbox form-group">
        <input #checkbox="ngModel" [(ngModel)]="contactData.check" [checked]="contactData.check == true" type="checkbox"
            id="confirmation" name="interest" value="music" required />
        <label  for="confirmation">I've read the <a href="#">privacy policy</a> and agree to the processing of my data as
            outlined. </label>

        @if(contactData.check == false && checkbox.touched){
        <span style="background: none;"  class="error-message">Please enter a message</span>
        }
    </div>

    <button [disabled]="(!contactData.check || !message.valid || !name.valid || !email.valid)" type="submit"
        value="submit">Send message :)</button>

</form>