<form>
    
    <input type="text" name="user_name" placeholder="Your name" />

    
    <input type="email" name="user_email" placeholder="Your email" />

    
    <textarea name="user_message" placeholder="Your message"></textarea>

    <div class="checkbox">
        <input type="checkbox" id="confirmation" name="interest" value="music" />
        <label for="confirmation">I've read the <a href="#">privacy policy</a> and agree to the processing of my data as outlined. </label>
    </div>

    <button disabled type="submit">Send message :)</button>

</form>

