
<section id="about-me">
    <div>
        <img class="background-shadow" src="./../../../assets/img/background-shadow/purple-shadow-about-me.png" alt="Background Shadow">
    </div>
    <div class="about-me">
        <h3>About me</h3>
        <div class="about-me-info">
            <p class="person-info">Hi, I’m a german speaking Frontend Developer based near Munich. Motivated by the
                limitless opportunities
                within IT, I am excited about crafting visually captivating and intuitive websites and applications.
            </p>

            <div *ngFor="let mindset of mindsets" class="mindset">
                <img [src]="mindset.imgSrc" alt="">
                <p>{{ mindset.text }}</p>
            </div>
        </div>

    </div>
    <div class="profile-picture">
        <div class="img">
            <img src="./../../../assets/img/lading-page/Mesa de trabajo 1 2.png" alt="">
        </div>
        <div class="seperator"></div>

    </div>
</section>