
:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex: 1; /* Damit der main-Bereich den verfügbaren Platz einnimmt */
  }