*{  
  scroll-margin-top: 140px;   
  scroll-margin-top: var(--scroll-margin-top, 140px);
    box-sizing: border-box;
}



:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
  }
  
  .content {
    max-width: 1440px;
    width: 100%;
    
    box-sizing: border-box;
  }
  
  