
<app-header></app-header>
<section>

    <button (click)="goBack()">{{ 'imprint.BACK_BUTTON' | translate }}</button>

    <div class="imprint">
      <h1>{{ 'imprint.TITLE' | translate }}</h1>
      <p>{{ 'imprint.SECTION_1_TITLE' | translate }}</p>
      <p>{{ 'imprint.NAME_ADDRESS' | translate }}</p>
      <p> <strong>{{ 'imprint.REPRESENTED_BY' | translate }}</strong></p>
      <p><strong>{{ 'imprint.CONTACT' | translate }}</strong></p><br>
      <p>{{ 'imprint.IMPRINT_GENERATOR' | translate }}</p>
    </div>

</section>

<app-footer></app-footer>
