@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-10px);
    }

    60% {
        transform: translateY(-5px);
    }
}


p {
    color: white;
}




section {
    height: 100%;
    width: 100%;
    display: flex;    
    justify-content: space-between;
    padding-left: 100px;
    position: relative;
    margin-top: 125px;
    

}

.another-skill-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
    align-items: flex-end;
    width: 570px;
    height: 100%;
    margin-left: 30px;

    h4 {
        color: white;
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 16px;
        padding-right: 100px;
    }

    span {
        color: #9747FF;
        font-size: 32px;
        font-weight: 700;
    }

    p {
        font-size: 20px;
    }

    @media (max-width: 1490px) {
        
    }
}

a{
    padding-right: 100px;
}

.mobile-info {
    padding-right: 100px;
    margin-bottom: 24px;
}

.headline {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 32px;
    margin-bottom: 40px;

    div {
        width: 70px;
        height: 4px;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        background-color: #9747FF;
    }
}

.icon-skill-bar {
    max-width: 660px;
    width: 100%;    
    gap: 50px;
    display: flex;
    flex-wrap: wrap;
    background: none;
    z-index: 3;

    p {
        margin-right: 0px;
    }
}

.icons-container {
    width: 90px;
    height: 100px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
    position: relative;
    background: none;

    img {
        background: none;
    }

    &:hover img {
        animation: bounce 0.5s;
        filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.6))
    }

    p {
        font-size: 16px;
        font-weight: 700;
        text-align: center;
        background: none;
        line-height: 20px !important;
    }
}

.last-skill {
    color: #9747FF;


}

.last-img {
    &:hover img {
        filter: brightness(0) invert(1) drop-shadow(0 0 10px rgba(255, 255, 255, 0.6)) !important;
        animation: none !important;
    }

    &:hover p {
        color: white;
    }
}

.continually-learning-popup {
    display: none;

    &:hover {
        display: block;
        position: absolute;
        background: none;
        margin-top: 60px;
        margin-left: -5px;
    }

}

.padding {
    
    padding-right: 100px !important;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 165px;
    background-color: #70E61C;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 23px !important;
    font-weight: 400;
    transition: transform 0.2s ease, background-color 0.2s ease;
    position: relative;

    


    &:hover {
        cursor: pointer;
        background-color: #9747FF;
        transform: scale(1.1);
    }
}


.background-shadow {
    position: absolute;
    left: -150px;
    bottom: 100px;
    background: none;
    width: 450px;

    z-index: 1;

    @media (max-width: 700px) {
       
        width: 400px;
    }

    @media (max-width: 420px) {
        
        width: 100%;
        bottom: 250px;
    }

}

.icon-skill-bar-mobile {
    display: none;
}

@media (max-width: 1490px) {




    button {
        
    }
}

@media (max-width: 1380px) {
    .icon-skill-bar {
        max-width: 50%;
        width: 100%;
    }

   
}


@media (max-width: 1270px){
    .icon-skill-bar {
        max-width: 400px;
        width: 100%;
    }
}

@media (max-width: 1023px) {

    .headline{
        margin-bottom: 40px;
        gap: 20px;

        div{
            width: 55px;
        }
    }

    h4 {
        padding-right: 75px !important;
    }
    .icon-skill-bar-mobile{
        padding-left: 75px;
        padding-right: 75px;
    }

    .mobile-info{
        padding-left: 75px !important;
        padding-right: 75px !important;
        margin-bottom: 0px;
    }

    .padding {
        padding-left: 75px !important;
        padding-right: 75px !important;
    }

    

    section {
        padding-left: 0px;
      
        height: 100%;
    }

    .icon-skill-bar-desktop {
        display: none;
    }

    .icon-skill-bar-mobile {
        display: flex;
        justify-content: center;
        max-width: 100%;
        height: 100%;
        margin-top: 40px;
        margin-bottom: 40px;
        padding-right: 100px;
        padding-left: 100px;
    }

    .another-skill-section {
        width: 100%;
        height: 100%;
        justify-content: normal;
        margin-left: 0px;
    }

    a {
        padding-right: 0px;
        margin-top: 32px;
        margin-bottom: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .mobile-info {
        max-width: 600px;
        width: 100%;
       
        padding-right: 100px;
        margin-right: 0px !important;
    }

    button {
        margin-right: 0px !important;
    }

  
}



@media(max-width: 700px){

    h4 {
        padding-right: 50px !important;
        padding-left: 50px !important;
        font-size: 26px !important;
    }

    span{
        font-size: 26px !important;
    }
    .icon-skill-bar-mobile{
        padding-left: 50px;
        padding-right: 50px;
    }

    .mobile-info{
        padding-left: 50px !important;
        padding-right: 50px !important;
    }

    .padding {
        padding-left: 50px !important;
        padding-right: 50px !important;
    }

    .headline{
        
        gap: 10px;

        div{
            width: 40px;
        }
    }
}

@media (max-width: 530px) {
    .icon-skill-bar {
        height: 100%;
    }
}

@media (max-width: 480px){

    .icon-skill-bar-mobile{
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (max-width: 450px) {

    .padding {
        padding-left: 25px !important;
        padding-right: 25px !important;
    }

    .icon-skill-bar-mobile{
        padding-left: 25px;
        padding-right: 25px;
    }

    .mobile-info{
        padding-left: 25px !important;
        padding-right: 25px !important;
    }

    .headline {
        gap: 10px;
        margin-bottom: 32px;

        div {
            width: 15px;
        }
    }

   

    p {
        font-size: 16px !important;
    }

    h4 {
        font-size: 24px !important;
        padding-left: 25px !important;
        padding-right: 25px !important;


        span {
            font-size: 24px !important;

        }
    }
}