<section id="skills">
    <img class="background-shadow" src="./../../../assets/img/background-shadow/green-shadow-skills-portfolio.png" alt="">
    <div class="icon-skill-bar icon-skill-bar-desktop">
        <div *ngFor="let skill of skills; let last = last" class="icons-container" [ngClass]="{'last-img': last}">
            <img [src]="skill.skillImg" alt="">
            <p [ngClass]="{'last-skill': last}">{{ skill.skillName }}</p>
            <div *ngIf="last" class="continually-learning-popup">
                <img src="./../../../assets/img/my-skills/continually-learning-popup.png" alt="">
            </div>
        </div>
    </div>

    <div class="another-skill-section">
        
        <div class="headline">
            <h2>My skills</h2>
            <div></div>
        </div>
        <div>
            <p class="mobile-info">I have gained experience in building projects with different frontend technologies and concepts.</p>
        </div>


        <div class="icon-skill-bar icon-skill-bar-mobile">
            <div *ngFor="let skill of skills; let last = last" class="icons-container" [ngClass]="{'last-img': last}">
                <img [src]="skill.skillImg" alt="">
                <p  [ngClass]="{'last-skill': last}">{{ skill.skillName }}</p>
                <div *ngIf="last" class="continually-learning-popup">
                    <img src="./../../../assets/img/my-skills/continually-learning-popup.png" alt="">
                </div>
            </div>
        </div>


        <div>            
            <h3>Looking for <span>another skill</span>?</h3>
            <p class="mobile-info">Feel free to contact me. I look forward to expanding on my previous knowledge</p>
        </div>
        <a href="#contact">
            <button>Get in touch</button>
        </a>

        
    </div>
</section>