<section>
    <img class="background-shadow" src="./../../../assets/img/background-shadow/green-shadow-skills-portfolio.png" alt="">
    <div class="icon-skill-bar icon-skill-bar-desktop animate-from-left">
      <div *ngFor="let skill of skills; let last = last" class="icons-container" [ngClass]="{'last-img': last}">
        <img [src]="skill.skillImg" alt="" (click)="togglePopup(skill)">
        <p [ngClass]="{'last-skill': last}">{{ skill.skillName | translate }}</p>
        <div *ngIf="last && showPopup && selectedSkill === skill" class="continually-learning-popup">
          <app-continually-learning-popup></app-continually-learning-popup>
        </div>
      </div>
    </div>
  
    <div class="another-skill-section">
      <div class="headline">
        <h2 class=" animate-from-bottom">{{'my_skills.TITLE' | translate }}</h2>
        <div></div>
      </div>
      <div style="background: none;">
        <p class="mobile-info padding">{{'my_skills.EXPERIENCE' | translate }}</p>
      </div>
  
      <div class="icon-skill-bar icon-skill-bar-mobile animate-from-left">
        <div *ngFor="let skill of skills; let last = last" class="icons-container" [ngClass]="{'last-img': last}">
          <img [src]="skill.skillImg" alt="" (click)="togglePopup(skill)">
          <p [ngClass]="{'last-skill': last}">{{ skill.skillName | translate }}</p>
          <div *ngIf="last && showPopup && selectedSkill === skill" class="continually-learning-popup">
            <app-continually-learning-popup></app-continually-learning-popup>
          </div>
        </div>
      </div>
  
      <div style="z-index: 4; background: none; display: flex; align-items: flex-end; flex-direction: column;">
        <h4 style="z-index: 4; background: none;">{{'my_skills.UNDER_HEADING.P' | translate }} <span>{{'my_skills.UNDER_HEADING.SPAN' | translate }}</span>?</h4>
        <p style="z-index: 4; background: none;" class="mobile-info">{{'my_skills.CONTACT_ME' | translate }}</p>
      </div>
      <a href="#contact" >
        <button>{{'my_skills.BUTTON' | translate }}</button>
      </a>
    </div>
  </section>
